// UTILITY
@import '@/style/variables.scss';

.d-f {
    display: flex;
}

.sp-bw {
    justify-content: space-between;
}

.al-it-cent {
    align-items: center;
}

.li-st {
    list-style: none;
}

.t-t-upp {
    text-transform: uppercase;
}

.tx-dec{
    text-decoration: none;

}

.c-pointer {
    cursor: pointer;
}

.vw {
    width: 100vw;
}

.main-button{
    color: white;
    font-weight: bold;
    background-color: $base-blue;
    border: none;
    padding: 10px 60px;
}

.main-button:hover{
    background-color: #2398ff;
}