// UTILITY

.d-f {
    display: flex;
}

.sp-bw {
    justify-content: space-between;
}

.al-it-cent {
    align-items: center;
}

.li-st {
    list-style: none;
}

.t-t-upp {
    text-transform: uppercase;
}

.tx-dec{
    text-decoration: none;

}

.c-pointer {
    cursor: pointer;
}

.vw {
    width: 100vw;
}